h1,a{font-family: 'Heebo', sans-serif;
}
p, sentence p, section {font-family: 'Oswald', sans-serif;}

body{background-color: rgb(207, 233, 239);
}
/* Menu Bar Navigation Styles   */
.topnav {
  overflow:hidden;
  background-color: rgb(120, 172, 191);
border-radius: 20px;
border-color: black;
position: relative;
    top:3px;
}

.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 17px;
border-radius: 20px;
}

.topnav a:hover {
  background-color: rgb(167, 215, 232);
  color: rgba(255,255,255,1.0);
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.p intro{
    color:azure;
}
.sentence p {
    
    position: absolute;
    
    top:55%;
    left: 25%;
    color: rgba(255,255,255,1.0);
    z-index: 1;

    
}

#eyes{ 
}

    /*-----end of Hero Space------*/


    
    /* This is the Name Animation*/

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

}

* {box-sizing:border-box}
/*   end of hero box     */



.banner{position: relative;s
   top:20px;
   display: block;
    background-color: rgb(167, 215, 232);  
 color: white
}
.banner_n{
    position:relative;
     display: block;
    background-color: rgb(167, 215, 232);  
 color: white;
     top:10px;
}



.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

aside {
background-color:rgbA(255,255,255,0.7);
  float: right;
  width: 30%;
min-
    max-height: 300px;
min-
    max-width: 500px;
box-sizing: border-box;
border-radius: 10px;
position: relative;
top:10px;
}
@media only screen and (min-width: 60px) (max-width:768px)
    {
       aside {width:100%;
        height: 40px;
        width: 4000px;
    }

 
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.banner_user h1{color: white;
     background-color: rgb(167, 215, 232);
}
.aboutcraig p, .aboutamina p{

    background-color: aliceblue;
}
.aboutcraig p{
    border-style: 5px solid black;
    border-style: 5px solid black;
}
#video{
    padding-top: 40px;
}


.stuff{position: relative;
    top:110px;
    left:30%;
    
}


.col-9{
    padding-top: 40px;

}

.col-3{ 
    position: absolute;
left:-2500px;
padding-top: 100px;
  padding-bottom: 300px;
   
}
.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}


}
.banner h1{ background-color: rgb(167, 215, 232);
    position: relative;
    top:20px;
}

.column_b{
    padding-top:20px;
  float: left;
  width: 33.33%;
}

.row_a:after {
  content: "";
  display: table;
  clear: both;
}

}

@media screen and (max-width: 500px) {
  .column_b {
    width: 100%;
  }






/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}






.sis{position: relative;
    
  width: 210px;
  z-index: 1;
  top: 130px;
  left: 10px;
  background: rgba(207, 233, 239, 0.69); 
  overflow-x: hidden;
  padding: 8px 0;
padding-bottom: 40px;
}

.sis a {
  padding: 3px 8px 6px 16px;
  text-decoration: none;
  font-size: .9em;
  color: rgb(106, 146, 160);
  display: block;
}

.sis a:hover {
  color: rgba(255,255,255,1.0);
}

.sis ul{
    text-decoration: none;
    
}
.bro{
position: relative;
    top:270px;
left: 180px;
float: left;
width:75%;
padding: 20px;
margin-left: 100px;  

}



/*responsive media screen happenings*/

@media screen and (max-height: 450px) {
  .sis {padding-top: 15px;}
  .sis a {font-size: 18px;}
}