h1,a{font-family: 'Poppins', sans-serif;
}

body{background-color: lavenderblush;
}


/* Menu Bar Navigation Styles   */
.topnav {
  overflow:hidden;
  background-color: #f0ddf7;
border-radius: 20px;
border-color: black;
position: relative;
    top:3px;
}

.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 17px;
border-radius: 20px;
}

.topnav a:hover {
  background-color: #d8c4eb;
  color: #f4e2e8;
}

.topnav a.active {
  background-color: rgb(82, 0, 82);
  color: white;
}

.p intro{
    color:rgb(255, 255, 255);
}

        
    .jumbotron {
margin-top: 20px;
color: white;
  background-image:url(portfolio_images/Vectrove.jpg);
background-position: center;
  background-size: 1265px 340px;
background-repeat: no-repeat;
font-weight: 700;

  

}
.jumbotron h1{
    animation-name: slide-in;
    }

animation-name : slide-in;
        @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}



    .nav-pills {
    background-color: #ae80bd;

}
    .nav-link{
        
color: white;
    }
    .nav-link active{
        background-color: #debfe8;
        color: white;
        
    }
    
    a:hover{
        color:rgb(255, 213, 237);
        
        
    }
    
    
    <!----www-------->
    
    
    
    
    
    
.row > .column {
  padding: 0 0px;

}

    .row{
        align-content: space-between;
    }




/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(174, 128, 189, 0.61);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.5s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}



</style>





/*----Hero Space-------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.2));
  height: 25%; width:100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: absolute;
    z-index: -2;
top:6px;
left:-1px;
}

.camera{
    position: absolute;
    top:20%;
    right:0px;

  z-index: 0;
    margin: 0px;
}
    

.hero-text {
	-webkit-animation: tracking-in-expand 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  
    padding: 3px;
  
  position: absolute;
  top: 180%;
left:50%;
  transform: translate(-50%, -50%);
  color: rgba(255,255,255,1.0);
z-index: 0;
}
    


.sentenc p {
    
    position: absolute;
    
    top:55%;
    left: 25%;
    color: rgba(255,255,255,1.0);
    z-index: 1;

    
}



    /*-----end of Hero Space------*/


    
    /* This is the Name Animation*/

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

}

* {box-sizing:border-box}
/*   end of hero box     */


.banner{position: relative;
   top:px;
   display: block;
    
    
}

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.15s both;
	        animation: bounce-in-fwd 1.15s both;
}
.stuff{position: relative;
    top:110px;
    left:30%;
    
}


/*end of animations*/

.banner h1{ background-color: #ae80bd;
    display: block;
    top:180px;
    
}

.sis{position: relative;
    
  width: 210px;
  z-index: 1;
  top: 90px;
  right:1000px;
  background: rgba(174, 128, 189, 0.37); 
  overflow-x: hidden;
  padding: 10,20,40,20;
}

.sis a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: .9em;
  color: #ae80bd;
  display: block;
}

.sis a:hover {
  color: #064579;
}

.sis ul{
    text-decoration: none;
    
}
.bro{
position: relative;
    top:20px;
left: 180px;
float: left;
width:75%;
padding: 20px;
margin-left: 10px;  

}

/*responsive media screen happenings*/

@media screen and (max-height: 450px) {
  .sis {padding-top: 15px;}
  .sis a {font-size: 18px;}
}



